body{
    background-image: url("https://static3.depositphotos.com/1003478/172/i/600/depositphotos_1725649-stock-photo-ace-of-hearts-and-black.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:black
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 3%;
}

p{
    color:#e9c068;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}

.outterbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    margin-left: 2%;
    margin-right: 2%;  
}

.play-box{
    text-align: center;
    background-color:#2b2c29;
    padding: 3%;
    opacity: 90%;
}
.devTeam{
    text-align: center;
    background-color:#2b2c29;
    padding: 3%;
    opacity: 90%;
    margin-left: 3%;
}
.enter-game{
    background-color:#2c1604;
    color: whitesmoke;
    width: 20%;
    height: 30%;
    border: 1px solid #fcf8e4;
}



